SCRAPER_PORT=5150
SCRAPER_CONCURRENCY=2
SCRAPER_QUEUE_LIMIT=200
SCRAPER_JOB_TTL_MS=3600000
SCRAPER_TIMEOUT_MS=45000
SCRAPER_PROXY_URL=
SCRAPER_PROXY_POOL=
SCRAPER_SCREENSHOT_DIR=
SCRAPER_PUBLIC_BASE_URL=
SCRAPER_STORAGE_STATE_PATH=storageState.json
SCRAPER_ADMIN_TOKEN=
SCRAPER_AUTH_CHECK_INTERVAL_MS=3600000
SCRAPER_ALERT_WEBHOOK=
SCRAPER_PUSH_URL=
